<div class="main-section" role="main">
	<div class="container-fluid">
		
		<!-- <h1 class="page-heading">{{ title }}</h1> -->

		<div class="jumbotron">
			<h1>{{ title }}</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt vehicula magna, non tristique ante interdum non. Phasellus ultrices posuere justo et consequat.</p>
			<p><a class="btn btn-primary" href="#/blog" role="button">More Articles</a></p>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-12">
				<p>Phasellus vitae egestas sapien. Duis sollicitudin scelerisque consectetur. Vestibulum eros sem, hendrerit et euismod quis, commodo eget felis. Curabitur ut erat sed dui blandit posuere a nec libero. Fusce eget est sit amet dolor tincidunt maximus. Pellentesque sed luctus dolor, interdum gravida ex. Mauris pellentesque, purus ut dapibus tempus, mi lacus vulputate nibh, eu elementum metus orci ac turpis. Fusce eu pharetra justo, et pretium ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sollicitudin urna eu elementum ullamcorper. Praesent id ligula in justo feugiat posuere. Maecenas euismod erat ac turpis accumsan, quis consequat tellus placerat. Integer varius tincidunt diam. In hac habitasse platea dictumst. Duis ut vehicula nisl. Quisque ornare nisi sed est volutpat, vel bibendum ligula fringilla.</p>
			</div>

			<div class="col-md-4 col-sm-12">
				<p>Phasellus vitae egestas sapien. Duis sollicitudin scelerisque consectetur. Vestibulum eros sem, hendrerit et euismod quis, commodo eget felis. Curabitur ut erat sed dui blandit posuere a nec libero. Fusce eget est sit amet dolor tincidunt maximus. Pellentesque sed luctus dolor, interdum gravida ex. Mauris pellentesque, purus ut dapibus tempus, mi lacus vulputate nibh, eu elementum metus orci ac turpis. Fusce eu pharetra justo, et pretium ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sollicitudin urna eu elementum ullamcorper. Praesent id ligula in justo feugiat posuere. Maecenas euismod erat ac turpis accumsan, quis consequat tellus placerat. Integer varius tincidunt diam. In hac habitasse platea dictumst. Duis ut vehicula nisl. Quisque ornare nisi sed est volutpat, vel bibendum ligula fringilla.</p>
			</div>

			<div class="col-md-4 col-sm-12">
				<p>Phasellus vitae egestas sapien. Duis sollicitudin scelerisque consectetur. Vestibulum eros sem, hendrerit et euismod quis, commodo eget felis. Curabitur ut erat sed dui blandit posuere a nec libero. Fusce eget est sit amet dolor tincidunt maximus. Pellentesque sed luctus dolor, interdum gravida ex. Mauris pellentesque, purus ut dapibus tempus, mi lacus vulputate nibh, eu elementum metus orci ac turpis. Fusce eu pharetra justo, et pretium ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sollicitudin urna eu elementum ullamcorper. Praesent id ligula in justo feugiat posuere. Maecenas euismod erat ac turpis accumsan, quis consequat tellus placerat. Integer varius tincidunt diam. In hac habitasse platea dictumst. Duis ut vehicula nisl. Quisque ornare nisi sed est volutpat, vel bibendum ligula fringilla.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<p>Phasellus vitae egestas sapien. Duis sollicitudin scelerisque consectetur. Vestibulum eros sem, hendrerit et euismod quis, commodo eget felis. Curabitur ut erat sed dui blandit posuere a nec libero. Fusce eget est sit amet dolor tincidunt maximus. Pellentesque sed luctus dolor, interdum gravida ex. Mauris pellentesque, purus ut dapibus tempus, mi lacus vulputate nibh, eu elementum metus orci ac turpis. Fusce eu pharetra justo, et pretium ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sollicitudin urna eu elementum ullamcorper. Praesent id ligula in justo feugiat posuere. Maecenas euismod erat ac turpis accumsan, quis consequat tellus placerat. Integer varius tincidunt diam. In hac habitasse platea dictumst. Duis ut vehicula nisl. Quisque ornare nisi sed est volutpat, vel bibendum ligula fringilla.</p>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6 col-sm-12">
				<p>Phasellus vitae egestas sapien. Duis sollicitudin scelerisque consectetur. Vestibulum eros sem, hendrerit et euismod quis, commodo eget felis. Curabitur ut erat sed dui blandit posuere a nec libero. Fusce eget est sit amet dolor tincidunt maximus. Pellentesque sed luctus dolor, interdum gravida ex. Mauris pellentesque, purus ut dapibus tempus, mi lacus vulputate nibh, eu elementum metus orci ac turpis. Fusce eu pharetra justo, et pretium ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sollicitudin urna eu elementum ullamcorper. Praesent id ligula in justo feugiat posuere. Maecenas euismod erat ac turpis accumsan, quis consequat tellus placerat. Integer varius tincidunt diam. In hac habitasse platea dictumst. Duis ut vehicula nisl. Quisque ornare nisi sed est volutpat, vel bibendum ligula fringilla.</p>
			</div>

			<div class="col-md-6 col-sm-12">
				<p>Praesent pellentesque iaculis arcu quis fringilla. Mauris et nunc non mi aliquam facilisis sed nec nisi. Nullam cursus hendrerit velit. Nullam eget orci arcu. Aliquam augue felis, tempor vel diam quis, aliquam elementum lectus. Aenean hendrerit enim ipsum, et pharetra ante scelerisque eget. Pellentesque a dolor et arcu sollicitudin vestibulum eget sed nulla. Suspendisse vel fringilla diam. Aliquam erat volutpat. Curabitur ac turpis quis libero consectetur lacinia. Vestibulum quis facilisis libero, a laoreet mauris. Praesent ac lectus tempus augue finibus fermentum ac ac metus. Proin lorem felis, porta nec nulla ut, vulputate scelerisque turpis.</p>
			</div>
		</div>
		
	</div>
</div>